# Z39.50 credentials used by slvr_report.pl (Perl)
user="User Name"
pass="Password"

# OCLC WorldCat API credentials used by the Python report
WSKEY_CLIENT_ID=your_wskey_client_id
WSKEY_SECRET=your_wskey_secret
WSKEY_SCOPES=WorldCatMetadataAPI wcapi:view_holdings wcapi:view_institution_holdings